body {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  margin: 0;
  padding: 0;
  background-color: burlywood;
}

header {
  background: linear-gradient(0deg, #6a11cb, #2575fc);
  color: black;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(1, 1, 1, 1);
}

#change-text-btn {
  background: #4CAF50;
  color: white;
  font-family: 'Courier New', Courier, monospace, sans-serif;
  border-radius: 25px;
  border: none;
}

.tab-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.tab-link {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.submit {
  background: #2575fc;
}
.tab-link.active {
  background-color: #333;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
